@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

@media screen and (min-width: 150px) {
  * {
    margin: 0;
  }
  .bright-pink {
    color: #f24968;
  }
  .orange {
    color: #f38e35;
  }
  section.home {
    background: url(./WAVES-FIRST-ORANGE.png) top -60px left -30px no-repeat,
      url(./WAVES-FIRST-ORANGE.png) bottom -40px left -30px no-repeat;
    background-size: 760px 200px;
    background-color: #f2ece6;
  }

  section.home h1 {
    padding: 181px 20px 41px;
    font-family: 'Pattaya', sans-serif;
    color: #d9736a;
    font-size: 73px;
    text-align: center;
  }

  section.home a {
    text-decoration: none;
  }
  .links-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.home a {
    color: #fef6f3;
    width: 250px;
    font-size: 14px;
    font-family: 'Vollkorn SC', serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.08rem;
    padding: 13px 0px;
  }

  a.new-client {
    background-color: #d9736a;
    margin-bottom: 32px;
  }
  a.book {
    background-color: #f4c369;
    width: 299px;
    margin-bottom: 200px;
  }
  section.about {
    background: url(./WAVES-FIRST-ORANGE.png) top -165px left -30px no-repeat;
    background-size: 760px 200px;
    background-color: #f2ece6;
    text-align: center;
    padding-bottom: 44.7px;
  }

  section.about h2 {
    font-family: 'Vollkorn SC', serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #a65151;
    opacity: 0.55;
    padding-top: 53px;
  }

  section.about img {
    min-width: 119px;
    max-width: 40%;
    min-height: 121px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    top: 20px
  }

  section.about div {
    margin: 0px 55.9px 0px 54.9px;
    background-color: #cc786e;
    padding: 33px 29.2px 42.6px;
    color: #ffffff;
    font-family: 'Vollkorn SC', serif;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;

  }
}
